.loader {
  background-color: #fcfcfc;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: loader 0.3s ease-in-out 4.4s 1 forwards;
}
.loader .both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader h1 {
  font-family: "Shrikhand";
  opacity: 0;
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 180px;
  animation: title 2s ease-in-out 2.4s 1 forwards;
}
.loader .hamburger {
  background-color: transparent;
  height: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader .hamburger span {
  height: 25px;
  margin-bottom: 2px;
  width: 100%;
}
.loader .hamburger .bread {
  background-color: #f5cb95;
  height: 25px;
  width: 100%;
}
.loader .hamburger .sesam {
  width: 15px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  margin-top: 10px;
}
.loader .hamburger #sesam1 {
  margin-left: 10px;
  transform: rotate(340deg);
}
.loader .hamburger #sesam6 {
  margin-left: 30px;
  transform: rotate(146deg);
}
.loader .hamburger #sesam2 {
  margin-left: 50px;
  transform: rotate(20deg);
  margin-top: 6px;
}
.loader .hamburger #sesam3 {
  margin-left: 80px;
  margin-top: 5px;
  transform: rotate(350deg);
}
.loader .hamburger #sesam4 {
  margin-left: 100px;
  transform: rotate(350deg);
}
.loader .hamburger #sesam5 {
  margin-left: 125px;
  transform: rotate(142deg);
}
.loader .hamburger #bread1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  animation-name: ingredient;
  animation-duration: 0.4s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader .hamburger #bread2 {
  height: 20px;
  animation: ingredient 0.4s ease-in-out 2s 1 reverse forwards;
  opacity: 0;
}
.loader .hamburger .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2px 2px 0px 2px;
}
.loader .hamburger .content .tomatos {
  display: flex;
  justify-content: space-between;
  animation: ingredient 0.4s ease-in-out 0.4s 1 reverse forwards;
  opacity: 0;
}
.loader .hamburger .content .tomatos .tomato {
  background-color: #e71b1b;
  width: 49%;
  height: 15px;
}
.loader .hamburger .content .cheddar {
  background-color: #ff9a16;
  height: 10px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 0.8s 1 reverse forwards;
}
.loader .hamburger .content .beef {
  background-color: #6d0101;
  height: 20px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 1.2s 1 reverse forwards;
}
.loader .hamburger .content .salad {
  background-color: #1c8f1c;
  height: 12px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 1.6s 1 reverse forwards;
}

@keyframes ingredient {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vh);
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  height: 63px;
  padding-top: 22px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 6px 3px #cfcfcf;
  position: relative;
}
header h1 {
  width: max-content;
  margin: auto;
}
header h1 img {
  width: 165px;
}

#intro {
  padding-top: 43px;
  height: 287px;
  background-color: #f6f6f6;
}
#intro h2 {
  width: 230px;
  margin: auto;
  text-align: center;
}
#intro h3 {
  width: 312px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 30px;
}
#intro a {
  text-decoration: none;
  margin: auto;
  margin-bottom: 57px;
  color: #fff;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff79da;
  opacity: 1;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  box-shadow: 1px 2px 8px 2px rgba(160, 160, 160, 0.75);
  border-radius: 100px;
  transition: box-shadow 0.7s, opacity 0.7s;
}
#intro a:hover {
  box-shadow: 1px 2px 8px 2px rgba(68, 68, 68, 0.75);
  opacity: 0.8;
}

@media all and (min-width: 1110px) {
  #intro {
    background-color: white;
  }

  #intro h2 {
    width: auto;
  }
}
#explication {
  height: 440px;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
}
#explication h3 {
  font-size: 24px;
  margin-bottom: 32px;
  margin-left: 20px;
}
#explication #instructions {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
#explication #instructions .instruction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 323px;
  height: 75px;
  background-color: #f6f6f6;
  box-shadow: 1px 2px 8px 2px rgba(227, 221, 221, 0.75);
  border-radius: 20px;
  margin-bottom: 24px;
}
#explication #instructions .instruction p {
  font-weight: bold;
  margin-left: 20px;
}
#explication #instructions .instruction i {
  font-size: 22px;
  color: #7e7e7e;
}
#explication #instructions .instruction .number {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 12px;
  height: 24px;
  width: 24px;
  margin-right: 22px;
  background-color: #9356dc;
  color: white;
  font-size: 14px;
}
#explication #instructions .instruction:nth-child(3) {
  background-color: #f5edff;
}
#explication #instructions .instruction:nth-child(3) i {
  color: #9356dc;
}

@media all and (max-width: 375px) {
  #explication #instructions .instruction {
    width: 273px;
  }
}
@media all and (min-width: 480px) {
  #explication #instructions {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #explication #instructions .instruction {
    margin: 15px;
  }
}
@media all and (min-width: 736px) {
  #explication {
    height: 370px;
  }
}
@media all and (min-width: 1024px) {
  #explication h3 {
    align-self: center;
    margin-left: 0px;
  }
}
@media all and (min-width: 1110px) {
  #explication {
    height: 300px;
    width: 1110px;
    border-radius: 20px;
    background-color: #9256dc0a;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: center;
    box-shadow: 1px 2px 8px 2px rgba(227, 221, 221, 0.75);
  }
}
#restaurants {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 58px;
  padding-bottom: 46px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
#restaurants h3 {
  font-size: 24px;
  margin-bottom: 28px;
}
#restaurants .cards {
  display: flex;
  flex-direction: column;
}
#restaurants .cards .card {
  height: 251px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px rgba(227, 221, 221, 0.75);
  margin-bottom: 18px;
  text-decoration: none;
  color: #000;
}
#restaurants .cards .card .image {
  height: 174px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: flex-end;
}
#restaurants .cards .card .informations {
  padding-left: 15px;
  padding-top: 17px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}
#restaurants .cards .card .informations .text {
  margin-right: auto;
  text-decoration: none;
  color: #000;
}
#restaurants .cards .card .informations .text h4 {
  font-size: 18px;
  margin-bottom: 3px;
}
#restaurants .cards .card .informations i {
  font-size: 22px;
}
#restaurants .cards .card .informations .heart {
  z-index: 6;
  cursor: pointer;
}
#restaurants .cards .card .informations .heart:hover + .hidden-heart {
  opacity: 1;
  transform: scale(1.1);
}
#restaurants .cards .card .informations .hidden-heart {
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  transition: transform 1s, opacity 1.5s;
}
#restaurants .cards .card .new {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #008766;
  border-radius: 3px;
  width: 80px;
  background-color: #99e2d0;
  margin-top: 13px;
  margin-right: 13px;
}
#restaurants .cards #palette .image {
  background-image: url("../images/palette.jpg");
  background-position: 50% 100%;
}
#restaurants .cards #note .image {
  background-image: url("../images/note.jpg");
  background-position: 50% 62%;
}
#restaurants .cards #francaise .image {
  background-image: url("../images/francaise.jpg");
  background-position: 50% 110%;
}
#restaurants .cards #sens .image {
  background-image: url("../images/sens.jpg");
  background-position: 50% 100%;
}

@media all and (min-width: 480px) {
  #restaurants .cards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #restaurants .cards #palette .image {
    background-position: 50% 60%;
  }

  #restaurants .cards #francaise .image {
    background-position: 50% 90%;
  }

  #restaurants .cards .card {
    width: 400px;
    margin: 10px;
  }
}
@media all and (min-width: 1024px) {
  #restaurants {
    width: 1024px;
    align-self: center;
    background-color: white;
  }

  #restaurants h3 {
    align-self: center;
  }
}
footer {
  background-color: #353535;
  padding: 25px 0px 37px 25px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 18.5px;
  color: white;
  font-weight: 100;
  margin-bottom: 24px;
}
footer .text {
  display: flex;
  flex-direction: column;
}
footer .text a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-bottom: 14px;
}
footer .text a i {
  margin-right: 11px;
  font-size: 14px;
}
footer .text a:nth-child(1),
footer .text a:nth-child(2) {
  font-weight: bold;
  font-size: 15.5px;
}
footer .text a:nth-child(2) i {
  margin-right: 8px;
  font-size: 12.5px;
  display: flex;
  align-items: flex-end;
}

@media all and (min-width: 620px) {
  footer {
    padding-left: 10px;
  }

  footer .text {
    flex-direction: row;
    justify-content: space-around;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  background-color: white;
  display: flex;
  flex-direction: column;
}
body .city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  height: 50px;
  color: #353535;
}
body .city p {
  margin-left: 18px;
  font-size: 16px;
}

@media all and (min-width: 1110px) {
  body .city {
    background-color: white;
  }
  body .city i {
    color: #c589e5;
  }
  body .city p {
    color: #f18fe1;
  }
}

/*# sourceMappingURL=index.css.map */
