.loader {
  background-color: #fcfcfc;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: loader 0.3s ease-in-out 4.4s 1 forwards;
}
.loader .both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader h1 {
  font-family: "Shrikhand";
  opacity: 0;
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 190px;
  text-align: center;
  animation: title 2s ease-in-out 2.4s 1 forwards;
}
.loader .hamburger {
  background-color: transparent;
  height: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader .hamburger span {
  height: 25px;
  margin-bottom: 2px;
  width: 100%;
}
.loader .hamburger .bread {
  background-color: #f5cb95;
  height: 25px;
  width: 100%;
}
.loader .hamburger .sesam {
  width: 15px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  margin-top: 10px;
}
.loader .hamburger #sesam1 {
  margin-left: 10px;
  transform: rotate(340deg);
}
.loader .hamburger #sesam6 {
  margin-left: 30px;
  transform: rotate(146deg);
}
.loader .hamburger #sesam2 {
  margin-left: 50px;
  transform: rotate(20deg);
  margin-top: 6px;
}
.loader .hamburger #sesam3 {
  margin-left: 80px;
  margin-top: 5px;
  transform: rotate(350deg);
}
.loader .hamburger #sesam4 {
  margin-left: 100px;
  transform: rotate(350deg);
}
.loader .hamburger #sesam5 {
  margin-left: 125px;
  transform: rotate(142deg);
}
.loader .hamburger #bread1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  animation-name: ingredient;
  animation-duration: 0.4s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader .hamburger #bread2 {
  height: 20px;
  animation: ingredient 0.4s ease-in-out 2s 1 reverse forwards;
  opacity: 0;
}
.loader .hamburger .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2px 2px 0px 2px;
}
.loader .hamburger .content .tomatos {
  display: flex;
  justify-content: space-between;
  animation: ingredient 0.4s ease-in-out 0.4s 1 reverse forwards;
  opacity: 0;
}
.loader .hamburger .content .tomatos .tomato {
  background-color: #e71b1b;
  width: 49%;
  height: 15px;
}
.loader .hamburger .content .cheddar {
  background-color: #ff9a16;
  height: 10px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 0.8s 1 reverse forwards;
}
.loader .hamburger .content .beef {
  background-color: #6d0101;
  height: 20px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 1.2s 1 reverse forwards;
}
.loader .hamburger .content .salad {
  background-color: #1c8f1c;
  height: 12px;
  opacity: 0;
  animation: ingredient 0.4s ease-in-out 1.6s 1 reverse forwards;
}

@keyframes ingredient {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vh);
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  height: 63px;
  padding-top: 22px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 6px 3px #cfcfcf;
  position: relative;
}
header h1 {
  width: max-content;
  margin: auto;
}
header h1 img {
  width: 165px;
}

#entrees .card {
  animation: card 0.8s ease-in-out 0s 1 forwards;
}

#dish .card {
  animation: card 0.8s ease-in-out 0.8s 1 forwards;
}

#desserts .card {
  animation: card 0.8s ease-in-out 1.6s 1 forwards;
}

.menu_blocs {
  display: flex;
  flex-direction: column;
}
.menu_blocs .menu_bloc {
  margin-bottom: 46px;
}
.menu_blocs .menu_bloc h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 7px;
}
.menu_blocs .menu_bloc hr {
  height: 3px;
  background-color: #99e2d0;
  border: none;
  width: 40px;
  margin-left: 7px;
}
.menu_blocs .menu_bloc .cards {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* padding-bottom: 23px;*/
}
.menu_blocs .menu_bloc .cards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -2px 4px 8px -4px #0000004d;
  border-radius: 18px;
  padding: 15px 12px 13px 12px;
  margin-bottom: 14px;
  opacity: 0;
  cursor: pointer;
  overflow-x: hidden;
}
.menu_blocs .menu_bloc .cards .card .check {
  background-color: #99e2d0;
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  position: absolute;
  right: -80px;
  top: 0;
  transition: transform 0.4s;
}
.menu_blocs .menu_bloc .cards .card .check i {
  color: white;
  font-size: 24px;
  transition: transform 0.6s;
}
.menu_blocs .menu_bloc .cards .card:hover .description_bloc .price {
  margin-right: 80px;
}
.menu_blocs .menu_bloc .cards .card:hover .check i {
  transform: rotate(360deg);
}
.menu_blocs .menu_bloc .cards .card:hover .check {
  transform: translateX(-80px);
}
.menu_blocs .menu_bloc .cards .card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_blocs .menu_bloc .cards .card .description_bloc {
  display: flex;
  justify-content: space-between;
}
.menu_blocs .menu_bloc .cards .card .description_bloc .description {
  font-size: 15.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_blocs .menu_bloc .cards .card .description_bloc .price {
  font-weight: bold;
  margin-right: 12px;
  align-self: flex-end;
  font-size: 15px;
  transition: margin-right 0.5s;
}

@keyframes card {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media all and (max-width: 375px) {
  .menu_blocs .menu_bloc .cards .card h3 {
    width: 210px;
  }
}
@media all and (min-width: 425px) {
  .menu_blocs {
    align-items: center;
  }

  .menu_bloc {
    width: 425px;
  }
}
@media all and (min-width: 970px) {
  .menu_blocs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu_bloc {
    margin: 0px 10px 0px 10px;
  }
}
footer {
  background-color: #353535;
  padding: 25px 0px 37px 25px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 18.5px;
  color: white;
  font-weight: 100;
  margin-bottom: 24px;
}
footer .text {
  display: flex;
  flex-direction: column;
}
footer .text a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-bottom: 14px;
}
footer .text a i {
  margin-right: 11px;
  font-size: 14px;
}
footer .text a:nth-child(1),
footer .text a:nth-child(2) {
  font-weight: bold;
  font-size: 15.5px;
}
footer .text a:nth-child(2) i {
  margin-right: 8px;
  font-size: 12.5px;
  display: flex;
  align-items: flex-end;
}

@media all and (min-width: 620px) {
  footer {
    padding-left: 10px;
  }

  footer .text {
    flex-direction: row;
    justify-content: space-around;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f6f6f6;
}

header {
  display: flex;
  box-shadow: none;
}
header a {
  color: black;
  text-decoration: none;
}
header a i {
  margin-left: 23px;
  font-size: 22px;
  margin-top: 3px;
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
main img {
  height: 258px;
  object-fit: cover;
  /*position: absolute;*/
}
main #menu {
  background-color: #f6f6f6;
  padding-right: 14px;
  padding-left: 12px;
  padding-top: 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 45px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
main #menu_header {
  padding: 0;
  height: auto;
  box-shadow: none;
  align-items: center;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
main #menu_header h2 {
  margin-left: 5px;
  font-family: "Shrikhand";
  font-weight: lighter;
  font-size: 28px;
}
main #menu_header i {
  font-size: 24px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 24px;
  cursor: pointer;
}
main #menu_header .heart {
  z-index: 1;
}
main #menu_header .heart:hover .hidden-heart {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 1s, opacity 1.5s;
}
main #menu_header .heart .hidden-heart {
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  font-size: 20px;
  z-index: -1;
  right: 2px;
  bottom: 10px;
  opacity: 0;
}
main #menu button {
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da 0%, #9356dc 77%);
  color: white;
  height: 50px;
  width: 184px;
  align-self: center;
  border-radius: 40px;
  font-size: 16px;
  border: none;
  box-shadow: 1px 2px 8px 2px rgba(160, 160, 160, 0.75);
  transition: box-shadow 0.7s, opacity 0.7s;
}
main #menu button:hover {
  box-shadow: 1px 2px 8px 2px rgba(68, 68, 68, 0.75);
  opacity: 0.8;
}

footer {
  margin-top: 13px;
}

@media all and (min-width: 425px) {
  main #menu {
    bottom: 0px;
    margin-bottom: 38px;
  }
}

/*# sourceMappingURL=menus.css.map */
