.loader {
  background-color: #c757ab;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loader .hamburger {
  background-color: transparent;
  height: auto;
  width: 150px;
  animation: spinner linear 3s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader .hamburger span {
  height: 25px;
  margin-bottom: 2px;
  width: 100%;
}
.loader .hamburger .bread {
  background-color: #f5cb95;
  height: 25px;
  width: 100%;
}
.loader .hamburger .sesam {
  width: 10px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
}
.loader .hamburger #sesam1 {
  margin-left: 40px;
}
.loader .hamburger #sesam2 {
  margin-left: 60px;
}
.loader .hamburger #sesam3 {
  margin-left: 80px;
}
.loader .hamburger #sesam4 {
  margin-left: 100px;
}
.loader .hamburger #bread1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.loader .hamburger .content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2px 2px 0px 2px;
}
.loader .hamburger .content .tomatos {
  display: flex;
  justify-content: space-between;
}
.loader .hamburger .content .tomatos .tomato {
  background-color: #e71b1b;
  width: 49%;
  height: 15px;
}
.loader .hamburger .content .cheddar {
  background-color: #ff9a16;
  height: 10px;
}
.loader .hamburger .content .beef {
  background-color: #6d0101;
  height: 20px;
}
.loader .hamburger .content .salad {
  background-color: #1c8f1c;
  height: 15px;
}

@keyframes hamburger {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    border-color: blue;
  }
  50% {
    transform: rotate(180deg);
    border-color: purple;
  }
  100% {
    transform: rotate(360deg);
    border-color: green;
  }
}
header {
  height: 63px;
  padding-top: 22px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 6px 3px #cfcfcf;
  position: relative;
}
header h1 {
  width: max-content;
  margin: auto;
}
header h1 img {
  width: 165px;
}

.menu_bloc {
  margin-bottom: 46px;
}
.menu_bloc h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 7px;
}
.menu_bloc hr {
  height: 3px;
  background-color: #99e2d0;
  border: none;
  width: 40px;
  margin-left: 7px;
}
.menu_bloc .cards {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* padding-bottom: 23px;*/
}
.menu_bloc .cards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -2px 4px 8px -4px #0000004d;
  border-radius: 18px;
  padding: 15px 12px 13px 12px;
  margin-bottom: 14px;
}
.menu_bloc .cards .card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.menu_bloc .cards .card .description_bloc {
  display: flex;
  justify-content: space-between;
}
.menu_bloc .cards .card .description_bloc .description {
  font-size: 15.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_bloc .cards .card .description_bloc .price {
  font-weight: bold;
  margin-right: 12px;
  align-self: flex-end;
  font-size: 15px;
}

footer {
  background-color: #353535;
  padding: 25px 0px 37px 25px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 18.5px;
  color: white;
  font-weight: 100;
  margin-bottom: 24px;
}
footer .text {
  display: flex;
  flex-direction: column;
}
footer .text a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-bottom: 14px;
}
footer .text a i {
  margin-right: 11px;
  font-size: 14px;
}
footer .text a:nth-child(1), footer .text a:nth-child(2) {
  font-weight: bold;
  font-size: 15.5px;
}
footer .text a:nth-child(2) i {
  margin-right: 8px;
  font-size: 12.5px;
  display: flex;
  align-items: flex-end;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f6f6f6;
}

header {
  display: flex;
  box-shadow: none;
}
header a {
  color: black;
  text-decoration: none;
}
header a i {
  margin-left: 23px;
  font-size: 22px;
  margin-top: 3px;
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
main img {
  height: 258px;
  object-fit: cover;
  /*position: absolute;*/
}
main #menu {
  background-color: #f6f6f6;
  padding-right: 14px;
  padding-left: 12px;
  padding-top: 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 45px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
main #menu_header {
  padding: 0;
  height: auto;
  box-shadow: none;
  align-items: center;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
main #menu_header h1 {
  margin-left: 5px;
  font-family: "Shrikhand";
  font-weight: lighter;
  font-size: 28px;
}
main #menu_header i {
  font-size: 24px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 24px;
}
main #menu button {
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da 0%, #9356dc 77%);
  color: white;
  height: 50px;
  width: 184px;
  align-self: center;
  border-radius: 40px;
  font-size: 16px;
  border: none;
  box-shadow: 1px 2px 8px 2px rgba(160, 160, 160, 0.75);
}

footer {
  margin-top: 13px;
}

/*# sourceMappingURL=menus.css.map */
