#restaurants {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 58px;
  padding-bottom: 46px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
#restaurants h3 {
  font-size: 24px;
  margin-bottom: 28px;
}
#restaurants .cards {
  display: flex;
  flex-direction: column;
}
#restaurants .cards .card {
  height: 251px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px rgba(227, 221, 221, 0.75);
  margin-bottom: 18px;
  text-decoration: none;
  color: #000;
}
#restaurants .cards .card .image {
  height: 174px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
#restaurants .cards .card .informations {
  display: flex;
  align-items: center;
  height: 76px;
}
#restaurants .cards .card .informations .text {
  margin-right: auto;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 5px;
}
#restaurants .cards .card .informations .text h4 {
  font-size: 18px;
  margin-bottom: 3px;
}
#restaurants .cards .card .informations i {
  font-size: 22px;
}
#restaurants .cards .card .informations .heart {
  z-index: 6;
  cursor: pointer;
}
#restaurants .cards .card .informations .heart:hover + .hidden-heart {
  opacity: 1;
  transform: scale(1.1);
}
#restaurants .cards .card .informations .hidden-heart {
  background: #ff79da;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 18.9px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  transition: transform 0.2s, opacity 0.6s;
}
#restaurants .cards .card .new {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #008766;
  border-radius: 3px;
  width: 80px;
  background-color: #99e2d0;
  margin-top: 13px;
  margin-right: 13px;
}
#restaurants .cards #palette .image {
  background-image: url("../images/palette.jpg");
  background-position: 50% 100%;
}
#restaurants .cards #note .image {
  background-image: url("../images/note.jpg");
  background-position: 50% 62%;
}
#restaurants .cards #francaise .image {
  background-image: url("../images/francaise.jpg");
  background-position: 50% 110%;
}
#restaurants .cards #sens .image {
  background-image: url("../images/sens.jpg");
  background-position: 50% 100%;
}

@media all and (min-width: 480px) {
  #restaurants .cards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #restaurants .cards #palette .image {
    background-position: 50% 60%;
  }

  #restaurants .cards #francaise .image {
    background-position: 50% 90%;
  }

  #restaurants .cards .card {
    width: 400px;
    margin: 10px;
  }
}
@media all and (min-width: 1024px) {
  #restaurants {
    width: 1024px;
    align-self: center;
    background-color: white;
  }

  #restaurants h3 {
    align-self: center;
  }
}

/*# sourceMappingURL=restaurants.css.map */
